@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800&display=swap");
p {
  margin: 0px;
  padding: 0px;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat";
}
body h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
body a {
  text-decoration: none;
}
body .top-header.desktop {
  display: none;
}
body .top-header.mobile {
  display: block;
}
@media (min-width: 415px) {
  body .top-header.desktop {
    display: block;
  }
  body .top-header.mobile {
    display: none;
  }
}
body #header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/images/header-background.jpg");
  height: 700px;
}
body .top-header a {
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
}
body .top-header.desktop {
  display: flex;
  flex-direction: row;
}
body .top-header.desktop .brand-name {
  margin: 30px 0px 0px 195px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
body .top-header.desktop .menu-links {
  margin: 33px 0px 0px 83px;
}
body .top-header.desktop .menu-links a {
  margin-right: 21px;
}
body .top-header.desktop .sign-in-up {
  margin: 19px 0px 0px 214px;
  display: flex;
  flex-direction: row;
}
body .top-header.desktop .sign-in-up .sign-in {
  padding: 15px 0px;
  margin-right: 45px;
}
body .top-header.desktop .sign-in-up .sign-up {
  border-radius: 5px;
  padding: 15px 25px;
  background-color: #23A6F0;
}
body #img1 {
  width: 443px;
  height: 681px;
  padding-left: 63.5px;
}
body .main-info {
  display: flex;
  flex-direction: row;
  margin-top: 31px;
  margin-left: 195px;
}
body .main-info .screan-info {
  padding-top: 87px;
}
body .main-info .screan-info h1 {
  margin: 0;
  font-weight: 800;
}
body .main-info .screan-info .dop-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
body .main-info .screan-info .dop-link1 {
  display: inline-block;
  background: #23A6F0;
  border-radius: 37px;
  padding: 15px 36px;
}
body .main-info .screan-info .dop-link1 a {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
body .main-info .screan-info .dop-link2 {
  display: inline-block;
  border: 1px solid;
  border-color: #FFF;
  background: rgba(0, 0, 0, 0);
  border-radius: 37px;
  padding: 15px 36px;
  margin-left: 10px;
}
body .main-info .screan-info .dop-link2 a {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
body #better_strategies {
  background: #252B42;
  width: 1440px;
  height: 641px;
}
body #better_strategies .second-block-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 57px;
  width: 480px;
  height: 114px;
  color: #FFFFFF;
  letter-spacing: 0.2px;
  text-align: center;
  padding-left: 497.5px;
  padding-top: 160px;
}
body #better_strategies .second-block-info {
  width: 490px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding-left: 485px;
  padding-top: 10px;
}
body #better_strategies .second-block-screan {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body #better_strategies .second-block-screan .block-screan-item {
  box-sizing: border-box;
  margin-top: 80px;
  padding-top: 31.33px;
  width: 325px;
  height: 133.53px;
  background: #FAFAFA;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  text-align: center;
}
body #better_strategies .second-block-screan .block-screan-item.blue {
  background-color: #23A6F0;
  margin-left: 33.5px;
  margin-right: 33.5px;
}
body #better_strategies .second-block-screan .first-act {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

/*# sourceMappingURL=main.css.map */
