
@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800&display=swap');


p { margin: 0px; padding: 0px; }


body {
    width: 1440px;
    margin: 0 auto;
    font-family: "Montserrat";


    h1 {
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    a {
        text-decoration: none; 
    }

    .top-header {
        &.desktop {
            display: none;
        }

        &.mobile {
            display: block;
        }
    }

    @media (min-width: 415px) {
        .top-header {
            &.desktop {
                display: block;
            }

            &.mobile {
                display: none;
            }
        }
    }

    #header {
        background:
            linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url("assets/images/header-background.jpg");
        height: 700px;
    }
    .top-header {
        a { 
            color: #FFF;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.2px;         
        }

        &.desktop {
            display: flex;
            flex-direction: row;
            .brand-name {
                margin: 30px 0px 0px 195px;
    
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.1px;
                color: #FFFFFF;
            }
            .menu-links{
                margin: 33px 0px 0px 83px;
                a {
                    margin-right: 21px  ;
                }

            }
            .sign-in-up {
                margin: 19px 0px 0px 214px;
                display: flex;
                flex-direction: row;
                .sign-in {
                    padding: 15px 0px;
                    margin-right: 45px;
                }
                .sign-up {
                    border-radius: 5px;
                    padding: 15px 25px;
                    background-color: #23A6F0;
                }
            }
        }
    }
    #img1 {
        width: 443px;
        height: 681px;
        padding-left:63.5px;
    }
    .main-info {
        display: flex;
        flex-direction: row;
        margin-top: 31px;
        margin-left: 195px;
        

        .screan-info{

          padding-top: 87px;
          h1 {
            margin: 0;
            font-weight: 800;
          }


          .dop-info {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.2px;
            color: #FFFFFF;
          }
          .dop-link1 {
            a{
              font-weight: 700;
              font-size: 14px;
              line-height: 22px;
              text-align: center;
              letter-spacing: 0.2px;
              color: #FFFFFF;

            }
            display: inline-block;
            background: #23A6F0;
            border-radius: 37px;
            padding: 15px 36px;
            
           }

           .dop-link2 {
            a{
              font-weight: 700;
              font-size: 14px;
              line-height: 22px;
              text-align: center;
              letter-spacing: 0.2px;
              color: #FFFFFF;

            }
            display: inline-block;
            border: 1px solid;
            border-color: #FFF;
            background: rgb(0, 0, 0,0);
            border-radius: 37px;
            padding: 15px 36px;
            margin-left: 10px;
            
           } 

        }
    }
    
    #better_strategies {

        background: #252B42;
        width: 1440px;
        height: 641px;

        .second-block-title{
            font-weight: 600;
            font-size: 40px;
            line-height: 57px;
            width: 480px;
            height: 114px;
            color: #FFFFFF;
            letter-spacing: 0.2px;
            text-align: center;

            padding-left: 497.5px;
            padding-top:  160px;
        }
        .second-block-info {
            width: 490px;
            height: 40px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #FFFFFF;
            padding-left: 485px;
            padding-top:  10px;
        }

        .second-block-screan{
            display: flex;
            flex-direction: row;
            justify-content: center;

        
            .block-screan-item {
                box-sizing: border-box;
                margin-top: 80px;
                padding-top: 31.33px;   
                width: 325px;
                height: 133.53px;
                background: #FAFAFA;
                border: 1px solid #E9E9E9;
                border-radius: 5px;
                text-align: center;
                &.blue {
                    background-color: #23A6F0;
                    margin-left: 33.5px ;
                    margin-right: 33.5px;
                }

            }

            .first-act {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: #252B42;
            }
        }
    }   
}
